@import "tailwindcss";

:root {
    --c1: #37353E;
    --c2: #44444E;
    --c3: #715A5A;
    --c4: #D3DAD9;
}


/* for loading page */
#loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

#spinner {
  width: 36px;
  height: 36px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}